[submodule "conformance"]
	path = third_party/conformance
	url = https://github.com/libjxl/conformance.git
[submodule "jxlatte"]
	path = third_party/jxlatte
	url = https://github.com/Traneptora/jxlatte
