[submodule "conformance"]
	path = third_party/conformance
	url = https://github.com/libjxl/conformance.git
[submodule "jxlatte"]
	path = third_party/jxlatte
	url = https://github.com/Traneptora/jxlatte
[submodule "third_party/libjxl"]
	path = third_party/libjxl
	url = https://github.com/libjxl/libjxl.git
[submodule "third_party/j40"]
	path = third_party/j40
	url = https://github.com/lifthrasiir/j40.git
[submodule "third_party/jxl-rs"]
	path = third_party/jxl-rs
	url = https://github.com/libjxl/jxl-rs.git
